/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btnRef {
  color: white;
}

.btnDel {
  color: white;
}

.btnEdit {
  color: white;
} */

/* #tdi img {
  height: 100px;
  width: 150px;
} */
