.container {
  display: flex;
  justify-content: space-between;
  background-color: #16181d;
}

.navbar_logo img {
  width: 60px;
  margin-left: 5px;
  background-color: #16181d;
}

.navbar_text {
  margin-right: 15px;
  color: turquoise;
  background-color: #16181d;
  text-decoration: none;
}
